sudo: false
language: python

matrix:
  fast_finish: true
  include:
    - python: "3.10"
      dist: focal
    - python: 3.9
    - python: 3.9.1
    - python: 3.8
    - python: 3.7
    - python: 3.6
    - python: 3.5
    - python: 3.5.3
    - python: 3.5.2
    - python: 3.5.1
      dist: trusty
      sudo: true
    - python: 3.5.0
      dist: trusty
      sudo: true
    - python: 3.4
    - python: 2.7

install:
- pip install -r test-requirements.txt

script:
  - py.test
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then flake8 --config=.flake8 typing_inspect.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then flake8 --config=.flake8-tests test_typing_inspect.py; fi
